[submodule "hangzhounet/tezos-k8s"]
	path = hangzhounet/tezos-k8s
	url = git@github.com:oxheadalpha/tezos-k8s.git
[submodule "dailynet/tezos-k8s"]
	path = dailynet/tezos-k8s
	url = git@github.com:oxheadalpha/tezos-k8s.git
[submodule "mondaynet/tezos-k8s"]
	path = mondaynet/tezos-k8s
	url = git@github.com:oxheadalpha/tezos-k8s.git
[submodule "granadanet/tezos-k8s"]
	path = granadanet/tezos-k8s
	url = git@github.com:oxheadalpha/tezos-k8s.git
[submodule "idiazabalnet/tezos-k8s"]
	path = idiazabalnet/tezos-k8s
	url = git@github.com:oxheadalpha/tezos-k8s.git
