[submodule "mondaynet/tezos-k8s"]
	path = mondaynet/tezos-k8s
	url = git@github.com:tqtezos/tezos-k8s.git
	branch = idempotent_activate
[submodule "florencenet/tezos-k8s"]
	path = florencenet/tezos-k8s
	url = git@github.com:tqtezos/tezos-k8s.git
[submodule "granadanet/tezos-k8s"]
	path = granadanet/tezos-k8s
	url = git@github.com:nicolasochem/tezos-k8s.git
[submodule "tezos-faucet"]
	path = tezos-faucet
        url = https://gitlab.com/Ochem/tezos-faucet.git

