tezos_k8s_images:
  utils: ghcr.io/oxheadalpha/tezos-k8s-utils:pr-613
signers:
  tezos-signer-0:
    sign_for_accounts:
    - oxheadbaker

node_config_network:
  activation_account_name: oxheadbaker
  genesis:
    block: BMFCHw1mv3A71KpTuGD3MoFnkHk9wvTYjUzuR9QqiUumKGFG6pM
    protocol: Ps9mPmXaRzmzk35gbAYNCAw6UXdE2qoABTHbN2oEEc1qM7CwT9P
  dal_config:
    activated: true
    use_mock_srs_for_testing:
      redundancy_factor: 16
      page_size: 4096
      slot_size: 16384
      number_of_shards: 512

protocols:
  - command: alpha
    vote:
      liquidity_baking_toggle_vote: "pass"
      adaptive_issuance_vote: "on"

activation:
  protocol_hash: ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK
  protocol_parameters:
    preserved_cycles: 3
    blocks_per_cycle: 128
    blocks_per_commitment: 16
    blocks_per_stake_snapshot: 64
    cycles_per_voting_period: 1
    hard_gas_limit_per_operation: '1040000'
    hard_gas_limit_per_block: '5200000'
    proof_of_work_threshold: '-1'
    minimal_stake: '6000000000'
    minimal_frozen_stake: '600000000'
    adaptive_issuance_launch_ema_threshold: 10000000
    adaptive_issuance_activation_vote_enable: false
    autostaking_enable: true
    global_limit_of_staking_over_baking: 5
    edge_of_staking_over_delegation: 2
    adaptive_rewards_params:
      issuance_ratio_min:
        numerator: "1"
        denominator: "200"
      issuance_ratio_max:
        numerator: "1"
        denominator: "10"
      max_bonus: "50000000000000"
      growth_rate:
        numerator: "1"
        denominator: "100"
      center_dz:
        numerator: "1"
        denominator: "2"
      radius_dz:
        numerator: "1"
        denominator: "50"
    issuance_weights:
      base_total_issued_per_minute: "85007812"
      baking_reward_fixed_portion_weight: 5120
      baking_reward_bonus_weight: 5120
      attesting_reward_weight: 10240
      liquidity_baking_subsidy_weight: 1280
      vdf_revelation_tip_weight: 1
      seed_nonce_revelation_tip_weight: 1
    hard_storage_limit_per_operation: '60000'
    origination_size: 257
    cost_per_byte: '250'
    quorum_max: 7000
    quorum_min: 2000
    min_proposal_quorum: 500
    liquidity_baking_toggle_ema_threshold: 100000
    max_operations_time_to_live: 120
    minimal_block_delay: "7"
    delay_increment_per_round: "7"
    consensus_committee_size: 7000
    consensus_threshold: 4667
    minimal_participation_ratio:
      numerator: 2
      denominator: 3
    limit_of_delegation_over_baking: 9
    percentage_of_frozen_deposits_slashed_per_double_baking: 7
    percentage_of_frozen_deposits_slashed_per_double_attestation: 50
    cache_script_size: 100000000
    cache_stake_distribution_cycles: 8
    cache_sampler_state_cycles: 8
    nonce_revelation_threshold: 32
    vdf_difficulty: '10000000'
    dal_parametric:
      feature_enable: true
      number_of_slots: 16
      number_of_shards: 512
      attestation_lag: 3
      attestation_threshold: 1
      slot_size: 16384
      redundancy_factor: 16
      page_size: 4096
      blocks_per_epoch: 32
    smart_rollup_private_enable: true
    smart_rollup_riscv_pvm_enable: true
    smart_rollup_origination_size: 6314
    smart_rollup_challenge_window_in_blocks: 40
    smart_rollup_stake_amount: "32000000"
    smart_rollup_commitment_period_in_blocks: 20
    smart_rollup_max_lookahead_in_blocks: 30000
    smart_rollup_max_active_outbox_levels: 20160
    smart_rollup_max_outbox_messages_per_level: 100
    smart_rollup_number_of_sections_in_dissection: 32
    smart_rollup_timeout_period_in_blocks: 500
    smart_rollup_max_number_of_cemented_commitments: 5
    smart_rollup_max_number_of_parallel_games: 32
    smart_rollup_arith_pvm_enable: true
    smart_rollup_reveal_activation_level:
      raw_data:
        Blake2B: 0
      metadata: 0
      dal_page: 0
      dal_parameters: 0
    zk_rollup_enable: true
    zk_rollup_origination_size: 4000
    zk_rollup_min_pending_to_process: 10
    zk_rollup_max_ticket_payload_size: 2048
  bootstrap_parameters:
    bootstrap_smart_rollups:
    - address: "sr1RYurGZtN8KNSpkMcCt9CgWeUaNkzsAfXf"
      pvm_kind: "wasm_2_0_0"
      kernel: "fromfile#/usr/local/share/tezos/evm_kernel/evm_installer.wasm"
      parameters_ty:
        prim: pair
        args:
        - prim: pair
          args:
          - prim: bytes
          - prim: ticket
            args:
            - prim: unit
        - prim: pair
          args:
          - prim: nat
          - prim: bytes
nodes:
  tezos-baking-node:
    instances:
      - bake_using_accounts:
          - oxheadbaker
        config:
          shell:
            history_mode: archive
          rpc:
            cors-headers: [ "content-type" ]
            cors-origin: [ "*" ]
        is_bootstrap_node: true
    runs:
      - octez_node
      - baker
      - accuser
      - vdf
    readiness_probe: false
    storage_size: 15Gi
  # Overwrite default values.yaml tezos-node
  rolling-node: null

smartRollupNodes:
  evm:
    operator_account: oxheadbaker
    rollup_address: sr1RYurGZtN8KNSpkMcCt9CgWeUaNkzsAfXf
    ingress:
      # ingress details filled by pulumi
    evm_proxy:
      annotations:
        # sometimes evm proxy takes too long to initialize
        # because it depends on the rollup node which in turn
        # depends on the octez node to be available
        'pulumi.com/skipAwait': true
      ingress:
      # ingress details filled by pulumi
dalNodes:
  bootstrap:
    bootstrapProfile: true
    ingress:
    # ingress details filled up by pulumi
  dal1:
    attesterProfiles: tz1foXHgRzdYdaLgX6XhpZGxbBv42LZ6ubvE

bootstrap_peers: []
full_snapshot_url: null
rolling_snapshot_url: null
rolling_tarball_url: null
archive_tarball_url: null
snapshot_source: https://snapshots.tezos.marigold.dev/api/tezos-snapshots.json
images: {}

accounts:
  oxheadbaker:
    # tz1foXHgRzdYdaLgX6XhpZGxbBv42LZ6ubvE
    bootstrap_balance: "7500000000000"
    is_bootstrap_baker_account: true
    type: secret
    # key injected by pulumi
    dal_node: http://dal-dal1:10732
  tf1:
    key: edpktnhkGfR4GWZ2BWthxB796zDQtcRDaiTDbUGMwXA9stoLqzPncb
    type: public
    is_bootstrap_baker_account: true
    bootstrap_balance: "100000000000"
  tf2:
    key: edpkvJ4yYhB4VUv2QS3pW7dRVxs4n2gVRJakD5k3TDHPkuWMPxLU5t
    type: public
    is_bootstrap_baker_account: true
    bootstrap_balance: "100000000000"
  tf3:
    key: edpktfnVodSwFtQdnRLYvWQmEmihP6NBndknAY7Ld2hnpFBXiLVL6v
    type: public
    is_bootstrap_baker_account: true
    bootstrap_balance: "100000000000"
  tf4:
    key: edpkv5DKpGgMCLmxkCh2q4chNwZDsKykQe1A5MqQHvMSaka584C38x
    type: public
    is_bootstrap_baker_account: true
    bootstrap_balance: "100000000000"
  tf5:
    key: edpkur3eJCphrFcopko2onAMu4PBv7q68TL7yWxN3mB3teLhgogioq
    type: public
    is_bootstrap_baker_account: true
    bootstrap_balance: "100000000000"
  oxheadfree:
    # an account with a lot of money in it
    # tz1foxFdz2ieSj8P9YxKYBTEqYbgFXXEeiQY
    key: edpkubSgCoMjB2a6vPWRNRHfGa6HUFfFyEUKoEQhWC8osnav8QzBdJ
    bootstrap_balance: "5000000000000000"
    is_bootstrap_baker_account: false
    type: public
  faucet:
    # faucet on teztnets.xyz platform
    # tz1a4GT7THHaGDiTxgXoatDWcZfJ5j29z5RC
    key: edpkvGYHoY5kwq13Ak6r4fLa1GGSHKJZVe7xJFV6ZgHwdZeaHy3WZj
    bootstrap_balance: "200000000000000"
    is_bootstrap_baker_account: false
  # SCORU test accounts
  # Contact: Yann Regis-Gianas
  scoru_rollup_operator:
    key: edpktnY9kXbEW1HjqDbQ4AG3hYkNunxHiRsZe72gEaHxddxNBtjG7B
    bootstrap_balance: "1000000000000"
    is_bootstrap_baker_account: false
  scoru_enduser:
    key: edpkuet91oSH1Q9i4nGJRDjdsF9W7XcAteqLQe1VqSjtMHRtDpCVFp
    bootstrap_balance: "1000000000000"
    is_bootstrap_baker_account: false
  # DAL Rich account
  # Contact: Francois Thire at Nomadic
  dal_rich_account:
    key: edpkuwL7MVYArfQN9jyR8pZTqmFGYFWTYhhF4F8KWjr2vB18ozTqbd
    bootstrap_balance: "1000000000000"
    is_bootstrap_baker_account: false
