{% for cat_name, cat_teztnets in teztnets.items() %}
# {{ cat_name }}

{{ category_desc[cat_name] }}

| | Activated on |
|-------|---------------------|
{% for k, v in  cat_teztnets.items() -%}
| [{{ v["human_name"] }}](/{{ k }}-about) | `{{ v["activated_on"] }}` |
{% endfor %}

{% endfor %}

