{% for cat_name, cat_teztnets in teztnets.items() %}
# {{ cat_name }}

{{ category_desc[cat_name] }}

| | Activated on | Faucet |
|-------|---------------------|--|
{% for k, v in  cat_teztnets.items() -%}
| [{{ v["human_name"] }}](/{{ v["human_name"] | lower }}-about) | `{{ v["activated_on"] }}` | [{{ v["human_name"] }} faucet]({{ v["faucet_url"] }}) |
{% endfor %}

{% endfor %}

