---
layout: home
---

{% for k, v in teztnets.items() %}
{{ k }}
---------

{{ v["description"] }}

To join {{ k }}, download tezos-node from the specified docker build then run:

```
docker run -it --entrypoint=/bin/sh {{ v["docker_build"] }}
~ $ tezos-node config init --network {{ v["network_url"] }}
~ $ tezos-node run
```

| | |
|-------|---------------------|
| Baker | `tezos-baker-{{ v["command"] }}` |
| Tezos docker build | [{{ v["docker_build"] }}](https://hub.docker.com/r/tezos/tezos/tags?page=1&ordering=last_updated&name={{ v["docker_build"] |replace("tezos/tezos:", "") }}) |
{% endfor %}

Faucet for all teztnets is at [https://faucet.tzalpha.net/](https://faucet.tzalpha.net/)

The list of testnets is also available in [json format](https://teztnets.xyz/teztnets.json).
