---
layout: page
title: {{ v["human_name"] }}
permalink: /{{ v["human_name"] | lower }}-about
---

{{ v["description"] }}

| | |
|-------|---------------------|
| Public RPC endpoint | [{{ v["rpc_url"] }}]({{ v["rpc_url"] }}) |
| Faucet | [{{ v["human_name"] }} faucet]({{ v["faucet_url"] }}) |
| Full network name | `{{ v["chain_name"] }}` |
| Tezos docker build | {{ v["docker_build_hyperlinked"] }} |
| Activated on | {{ network_params["genesis"]["timestamp"] }} |
{% if "indexers" in v and v["indexers"] | length >0 -%}
| Block Explorers | {% for i in v["indexers"] -%}[{{ i["name"]}}]({{ i["url"]}}){% if not loop.last %} - {% endif %}
{%- endfor %} |
{%- endif %}


{{ readme }}

### Install the software

⚠️  If you already have an existing Tezos installation, do not forget to backup and delete your `~/.tezos-node` and `~/.tezos-client`.

{% if v["release"] %}
#### Download and install Tezos version {{ v["release"] }}

Follow instructions from the [Tezos documentation](https://tezos.gitlab.io/introduction/howtoget.html#installing-binaries).
{% endif%}

#### Alternative: Use docker

To join {{ v["human_name"] }} with docker, open a shell in the container:

```
docker run -it --entrypoint=/bin/sh {{ v["docker_build"] }}
```

#### Alternative: Build the software

⚠️  If this is your first time installing Tezos, you may need to [install a few dependencies](https://tezos.gitlab.io/introduction/howtoget.html#setting-up-the-development-environment-from-scratch).

```
git clone {{ v["git_repo"] }}
cd tezos
git checkout {{ v["git_ref"] }}
opam init # if this is your first time using OPAM
make build-deps
eval $(opam env)
make
export PATH=$HOME/tezos/_build/install/default/bin/:$PATH
```

### Join the {{ v["human_name"] }} network

Run the following commands:

```
{% if v["release"] and "rc" not in v["release"] and k != "ghostnet" -%}
octez-node config init --network {{ k }}
{% else -%}
octez-node config init --network {{ v["network_url"] }}
{% endif%}
octez-node run --rpc-addr 127.0.0.1:8732
```

> 💡 A simple way to keep your process alive is to use `screen` or `nohup` to keep it running in the background while redirecting logs into files at the same time. For example:
>
> ```bash=13
> nohup octez-node run --rpc-addr 127.0.0.1:8732 > ./node-{{ k }}.log &
> ```

{% if v["category"] in [ "Protocol Teztnets", "Long-running Teztnets" ] %}
### Bake on the {{ v["human_name"] }} network

To improve reliability of the chain, you can take part in the consensus by becoming a baker. In that case, you will need some test tokens from the [faucet]({{ v["faucet_url"] }}).

If you are not a bootstrap baker, you need to register your key as a delegate using your alias or `pkh`. For instance:
```bash=2
./octez-client register key mykey as delegate
```

You may now launch the baker process.
```bash=3
octez-baker-{{ v["last_baking_daemon"] }} run with local node ~/.tezos-node mykey --liquidity-baking-toggle-vote pass
```

You may run the accuser as well:
```bash=3
octez-accuser-{{ v["last_baking_daemon"] }} run
```

> 💡 Again, to keep your processes alive in background:
>
> ```bash=4
> nohup octez-baker-{{ v["last_baking_daemon"] }} run with local node ~/.tezos-node mykey --liquidity-baking-toggle-vote pass > ./baker-{{ k }}.log &
> ```

Note that you need a minimum amount of tez to get baking rights. If you are not a bootstrap baker, it will take you several cycles to start baking.

{% endif %}
