---
layout: page
title: {{ v["human_name"] }} Faucet
permalink: /{{ k }}-faucet
---

This faucet is for `{{ k }}` only. It will not work on other networks. First, verify that you are a human.

Please use responsibly as the number of addresses is limited. For special requests, contact us.

<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
function captchaDone(response) { $("#gettz").prop('disabled',false); $("#gettz").addClass('btn-b');
function submitted() { $("#gettz").prop('disabled',true); $("#gettz").removeClass('btn-b');
</script>


<form method='POST' action='https://faucet.{{ k }}.teztnets.xyz' onsubmit="submitted()">
    <div>
        <button id="gettz" style='display: block; margin: 0 auto; width: 304px; height: 64px;' disabled=true>Get {{ v["human_name"] }} ꜩ</button>
        <br/>
        <div class="g-recaptcha" data-sitekey="{{ faucet_recaptcha_site_key }}" data-callback="captchaDone"></div>
    </div>
</form>
