name: Dailynet/Weeklynet Deployment Cronjob

on:
  schedule:
    # update the deployment every day at midnight UTC
    - cron: "0 0 * * *"

jobs:
  up:
    name: Pulumi Up
    uses: ./.github/workflows/_pulumi.yml
    secrets: inherit
    with:
      pulumi-command: up

  publish:
    name: teztnets.xyz build
    needs: up
    uses: ./.github/workflows/_publish.yml
    secrets: inherit
    with:
      networks: ${{ needs.up.outputs.networks }}
      teztnets: ${{ needs.up.outputs.teztnets }}
